<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITagProcessing" />
                <binding name="BasicHttpBinding_IUserProcessing" />
                <binding name="BasicHttpBinding_ITagProcessing1" />
                <binding name="BasicHttpBinding_IUserProcessing1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50306/SCADACoreService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagProcessing"
                contract="ServiceReference1.ITagProcessing" name="BasicHttpBinding_ITagProcessing" />
            <endpoint address="http://localhost:50306/SCADACoreService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserProcessing"
                contract="ServiceReference1.IUserProcessing" name="BasicHttpBinding_IUserProcessing" />
            <endpoint address="http://localhost:50306/SCADACoreService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagProcessing1"
                contract="ServiceReference2.ITagProcessing" name="BasicHttpBinding_ITagProcessing1" />
            <endpoint address="http://localhost:50306/SCADACoreService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserProcessing1"
                contract="ServiceReference2.IUserProcessing" name="BasicHttpBinding_IUserProcessing1" />
        </client>
    </system.serviceModel>
</configuration>